{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range .Site.Data.projects }}
<div class="portfolio-modal modal fade" id="portfolioModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-11 col-lg-offset-1">
                    <div class="modal-body">
                        <h2 class="modal-title-mary">{{ .title }}</h2>

                        {{ $contentType := printf "%s" .linkTitle }}

                        {{ if (eq $contentType "Youtube") }}
                            <div class="videoWrapper">
                                <iframe src="{{.youtube}}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                            </div>
                        {{ else if (eq $contentType "Behance") }}
                            <h1>SOON</h1>
                        {{else}}
                           <img src="img/portfolio/{{ .img }}" class="img-responsive img-centered" alt="">
                        {{ end }}


                        <p class="modal-description-mary">{{ .description | markdownify }}</p>
                        <hr/>
                        <ul class="list-inline item-details">
                            <li>
                                {{ $contentType := printf "%s" .linkTitle }}
                                {{ if (eq $contentType "Image") }}
                                    <a target="_blank" href="img/portfolio/{{ .img }}"><button class="btn btn-mary">Voir en Taille Réelle</button></a>
                                {{else}}
                                    <a target="_blank" href="{{ .link }}"><button class="btn btn-mary">{{ .linkTitle }}</button></a>
                                {{ end }}
                            </li>
                            <li class="modal-project-info-mary"><b>Date:</b> {{ .date }}</li>
                            <li class="modal-project-info-mary"><b>Catégorie:</b> {{ .category }}</li>
                        </ul>
                        <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-times"></i> {{ with $.Site.Params.portfolio.modal.buttontext }}{{.}}{{ end }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
